  <div class="col-md-2 p-2">
    <%= image_tag post.image, class: 'img-fluid', style: 'width:200px;height:auto;border-radius:10px;'%>
  </div>
  <div class="col-md-2 p-2">
    <h5 class="text-dark"><%= post.title %></h5>
    <span class="bg-primary text-white m-2"><%= post.category %></span><br/>
     <%= link_to "Go to Post", post , class:'btn btn-primary m-2' %>
     <%= button_to "Delete", post, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'btn btn-danger m-2'%>
  </div>

