<div class="hpContainer">
   <div class="postCard">
         <%= image_tag "outdoor-pink-shoes.jpg",class: 'postImg'%>
        <div class="cardContent">
            <h5 class="text-center text-white p-2">OUR BLING BAGS WILL </br> STEAL YOUR HEART! | WNTL</h5>
            <div class="row">
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-share-nodes text-white"></i> <i class="fa-brands fa-pinterest text-white"></i></div>
            <div class="col-6 d-flex justify-content-center"><a class="postBtn text-center"> Read More</a></div>
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-bag-shopping"></i></div>
            </div>
        </div>
    
    </div>
    <div class="postCard">
         <%= image_tag "outdoor-pink-shoes.jpg",class: 'postImg'%>
        <div class="cardContent">
            <h5 class="text-center text-white p-2">OUR BLING BAGS WILL </br> STEAL YOUR HEART! | WNTL</h5>
            <div class="row">
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-share-nodes text-white"></i> <i class="fa-brands fa-pinterest text-white"></i></div>
            <div class="col-6 d-flex justify-content-center"><a class="postBtn text-center"> Read More</a></div>
            <div class="col-3 " style="padding: 12px 12px;"><a href="https://www.whitenoisethelabel.com/" target="_blank" ><i class="fa-solid fa-bag-shopping"></i></a></div>
            </div>
        </div>
    
    </div>
    <div class="postCard">
         <%= image_tag "outdoor-pink-shoes.jpg",class: 'postImg'%>
        <div class="cardContent">
            <h5 class="text-center text-white p-2">OUR BLING BAGS WILL </br> STEAL YOUR HEART! | WNTL</h5>
            <div class="row">
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-share-nodes text-white"></i> <i class="fa-brands fa-pinterest text-white"></i></div>
            <div class="col-6 d-flex justify-content-center"><a class="postBtn text-center"> Read More</a></div>
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-bag-shopping"></i></div>
            </div>
        </div>
    
    </div>

</div>

<div class="hpContainer">
   <div class="postCard">
         <%= image_tag "outdoor-pink-shoes.jpg",class: 'postImg'%>
        <div class="cardContent">
            <h5 class="text-center text-white p-2">OUR BLING BAGS WILL </br> STEAL YOUR HEART! | WNTL</h5>
            <div class="row">
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-share-nodes text-white"></i> <i class="fa-brands fa-pinterest text-white"></i></div>
            <div class="col-6 d-flex justify-content-center"><a class="postBtn text-center"> Read More</a></div>
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-bag-shopping"></i></div>
            </div>
        </div>
    
    </div>
    <div class="postCard">
         <%= image_tag "outdoor-pink-shoes.jpg",class: 'postImg'%>
        <div class="cardContent">
            <h5 class="text-center text-white p-2">OUR BLING BAGS WILL </br> STEAL YOUR HEART! | WNTL</h5>
            <div class="row">
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-share-nodes text-white"></i> <i class="fa-brands fa-pinterest text-white"></i></div>
            <div class="col-6 d-flex justify-content-center"><a class="postBtn text-center"> Read More</a></div>
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-bag-shopping"></i></div>
            </div>
        </div>
    
    </div>
    <div class="postCard">
         <%= image_tag "outdoor-pink-shoes.jpg",class: 'postImg'%>
        <div class="cardContent">
            <h5 class="text-center text-white p-2">OUR BLING BAGS WILL </br> STEAL YOUR HEART! | WNTL</h5>
            <div class="row">
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-share-nodes text-white"></i> <i class="fa-brands fa-pinterest text-white"></i></div>
            <div class="col-6 d-flex justify-content-center"><a class="postBtn text-center"> Read More</a></div>
            <div class="col-3 " style="padding: 12px 12px;"><i class="fa-solid fa-bag-shopping"></i></div>
            </div>
        </div>
    
    </div>

</div>